@import url('/css/base_mm_elems.css');

:root {

	--donb-color : #fb4242; --act-color: #58ad6f;
	--xplan-color: #6e5163; --bct-color: #2685a2;

	--title1-fillA: #999   ; --title1-fillB: #4d2d28;
	--title2-fillA: #363e3a; --title2-fillB: #f1fff8;
	--title4-fillA: #848a65; --title4-fillB: #756969;
}

html, body {
	padding: 0;
	margin: 0;
}

.check-lm, .title1, .title2,
.check-mk, .title3 {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
  font-family: "Google Sans", -apple-system, "BlinkMacSystemFont", "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 14px;
  background-color: #f8f9fa;
}

#container:not(.scrl-ed) #apply_btn {
	position: fixed;
	bottom: 0;
}
#container, .hd-menu, #apply_btn {
	max-width: 680px;
}
#container, .hd-menu > * {
	margin: auto;
}
#container:not(.act-contact) > #s_contact, .act-contact > #s_options,
#container:not(.act-about  ) > #s_about  , .act-about   > #s_options {
	display: none;
}

.hd-menu {
	background-color: white;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	box-shadow: inset 0 -1px 0 0 #dadce0, 0 2px 6px 0 #d1d1d1;
	padding: 15px 0 10px;
	border-radius: 0 0 4px 4px;
}
.bd-sect {
	animation: show .3s ease-in;
	margin-bottom: 100px;
}
.menu-sect {
	height: 50px;
	align-items: end;
}
.menu-link {
	position: relative;
	text-decoration: none;
	color: #5f6368;
	padding: 0 15px;
}
.menu-link:hover {
	color: #444;
}
.menu-link:before {
	content: '';
	display: block;
	background-color: var(--act-color);
	position: absolute;
	left : 15px; bottom: -4px;
	right: 15px; height: 0;
	transition: .4s ease height;
}
.act-contact .menu-link[data-i18n=contact]:before,
.act-options .menu-link[data-i18n=options]:before,
.act-about   .menu-link[data-i18n=about]:before {
	height: 4px;
}

.page-bd {
	box-shadow: 0 1px 3px #d2d2d2;
	background-color: white;
	border-radius: 4px;
}
.setts-item {
	padding: 12px 25px;
	margin: 0;
}
.setts-item.gp-title {
	padding: 16px 25px;
}
.setts-item + .setts-item {
	border-top: 1px solid #e7e7e8;
}
.setts-item.next-explain {
	padding-bottom: 6px;
}
.setts-expl {
	color: var(--xplan-color);
	padding: 4px;
	border-top: 1px dashed var(--xplan-color);
	font-size: 12px;
	font-weight: 500;
}
.setts-expl > *:not(:empty):before {
	content: 'âŽ';
	padding: 0 7px;
}

.setts-opts {
	max-height: 0;
	border: 0 solid gray;
	border-bottom-width: 1px;
	overflow: hidden;
	transition: .5s cubic-bezier(.1,.3,.5,.6) max-height, .2s ease-in border-width;
}
.u-roll + .setts-opts {
	max-height: 1000px;
	transition: 2s ease-out max-height, .2s ease-out border-width;
	border-top-width: 12px;
	border-bottom-width: 6px;
}
.setts-opts > .setts-item > .setts-text {
	display: list-item;
	margin-left: 20px;
}

.opt-embedded      { border-color: #c9e1cc; }
.opt-youtube       { border-color: #e1c9c9; }
.opt-youtube_music { border-color: #d0c9e1; }

.opt-embedded      .setts-text::marker { color: var(--act-color); }
.opt-youtube       .setts-text::marker { color: #d0671a; }
.opt-youtube_music .setts-text::marker { color: #6048b7; }

.opt-embedded      .chex-s1 > :checked ~ .v-on:before { background-color: #2abe3e; }
.opt-youtube       .chex-s1 > :checked ~ .v-on:before { background-color: #d94c4c; }
.opt-youtube_music .chex-s1 > :checked ~ .v-on:before { background-color: #6048b7; }

.setts-text {
	margin-right: 20px;
}

.setts-icon, .hd-menu, .menu-sect {
	display: flex;
	flex-direction: row;
}

.setts-desc {
	font-size: 12px;
	color: grey;
	max-width: 520px;
}

/* Title styles */
.title1 {
	color: var(--title1-fillA);
	fill : var(--title1-fillA);
	font-size: 2em;
}
.title1, .title2, .title3 {
	margin: 20px 25px 0;
}
.title2 {
	font-size: 15px;
	color: grey;
}
.title2 > * {
	padding: 3px 7px;
	border: 2px dashed white;
	background-color: #fad339;
	color: var(--title2-fillA);
}
.title2.u-roll > * {
	background-color: var(--act-color);
	color: var(--title2-fillB);
}
.title3 {
	font-size: 12px;
	color: white;
}
.title3 > * {
	color: #da5959;
	padding: 2px 4px;
	border-radius: 4px 4px 0 0;
	border: 2px solid #e1e1e1;
	border-bottom-style: dotted;
	background-color: white;
}
.title4 > * {
	font-size: large;
	color: var(--title4-fillA);
	border-bottom: 2px dashed var(--title4-fillA);
}
.title4 ~ b {
	color: var(--title4-fillB);
}

/* Advanced options */
#advn_opts {
	margin-top: 30px;
}
#advn_opts > .setts-opts {
	border: none;
	padding-bottom: 5px;
}
#site_opts {
	border-top: 1px solid #ccc;
}

.advanced {
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #626262;
  padding-left: 15px;
}

/* Arrow on Advanced options */
.check-mk, .check-lm {
	cursor: pointer;
}

/* Show the checkmark when checked */
.check-mk:after {
	content: '';
	display: inline-block;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	border-color: var(--title2-fillA) transparent transparent;
	margin: 2px 0 0 10px;
}
.u-roll > .check-mk:after {
	border-width: 0 6px 6px 6px;
	border-bottom-color: var(--title2-fillB);
}
.check-lm:after {
	content: '\2023';
	font-size: 1.5em;
	margin-left: 5px;
	line-height: 100%;
}
.u-roll > * > .check-lm:after {
	transform: rotate(90deg);
	margin-left: 0;
}

.setts-head {
	display: flex;
}

.beta-feature:after {
	content: 'BETA';
	padding: 0 7px;
	margin-left: 5px;
}
.beta-feature:after, .menu-link[data-i18n=donation] {
	color: white;
	background-color: var(--donb-color);
	border-radius: 4px;
	outline: 2px solid var(--donb-color);
	font-weight: bold;
}

#apply_btn:before {
	content: 'APPLY';
	font-weight: bolder;
	font-size: 16px;
}
#apply_btn > * {
	font-weight: bold;
	font-size: 12px;
}

/* adaptive style */
@media screen and (max-width: 550px) {
	.setts-desc {
		max-width: 200px;
	}
}
