.html5-video-player {
  background-image: url('../img/logo/logo_mobile.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 80% !important;
  background-color: black !important;
}

.player-storyboard img {
  display: none !important;
}

.player-storyboard {
  height: 50px !important;
  background-color: transparent !important;
  border: none !important;
}

.html5-video-player .html5-video-container .webgl,
.html5-video-player .ytm-webgl-spherical-control {
  display: none !important;
}

.html5-video-player video {
  opacity: 0 !important;
}

/* Video thumbnail in the start of the video */
.ytp-cued-thumbnail-overlay {
  display: none !important;
}